form {
    text-align: center;
  }

.loginDiv{
    position: absolute;
    top: 25%;
    /* left: 50%; */
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
    width: 769px;
    height: 850px;
    /* margin: auto; */
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    box-shadow: 0px 4px 35px -7px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-top: 35px;
  
}

.loginDiv img{
    color: #4B176A;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
}


.loginDiv p{
    color: #4B176A;
    margin-left: 30px;
    margin-top: 50px;
    /* margin-bottom: -40px; */
    font-size: 22px;
}

.loginInput{
    position: relative;
    padding: 1.5rem;
    width: 449px;
    height: 65px;
    margin-top: 10px;
    background: rgba(128, 0, 128, 0.1);
    /* border-color: solid red; */
    border-radius: 27px;
    margin-left: 40px;
    font-size: 20px;
    color: #6E6E6E;
}

.loginInputSingle{
    position: relative;
    padding: 1.5rem;
    width: 225px;
    height: 65px;
    margin-top: 10px;
    background: rgba(128, 0, 128, 0.1);
    /* border-color: solid red; */
    border-radius: 27px;
    margin-left: 5px;
    font-size: 20px;
    color: #6E6E6E;
}
.center{
    display: flex;
    justify-content: center;
}



#userIcon{
    background-image:url(./../../../src/assets/user.png); 
    background-repeat: no-repeat; 
    background-position: 13px 16px;
}

#passIcon{
    background-image:url(./../../../src/assets/lock.png); 
    background-repeat: no-repeat; 
    background-position: 13px 16px;
}
 
/* li {
    border-radius: 27px;
}  */




/* html,body{
    margin:0;
    height:100%;
} */

.color{
  display:block;
  width:100%; 
  height:100%;
  object-fit: cover;
}


.homeButtonSign{
    border: 1px solid #4B176A;
    width: 420px;
    height: 70px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
    border-radius: 27px;  
    margin-top: 50px;
    /* margin-left: -105px; */
    color: #4B176A;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.homeButtonLogin{
    border: 1px solid #4B176A;
    width: 420px;
    height: 70px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
    border-radius: 27px;  
    margin-top: 20px;
   /*  margin-left: -105px; */
    color: white;
    background-color:#4B176A ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.buttonIcon{
    margin: 10px 20px;
}

.myrow {
    display: table;
    width: 50px;
    text-align: center;
    /* margin-right: -50px; */
  }
  
.myrow > li {
    display: table-cell;
}

.buttonIcon{
    margin: 10px 20px;
}