.headnavbar{
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	background-color:#FFFFFF;
}


.headlinkText{
	color: #4B176A;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	margin: 9px 10px;
}

/* .headlinkText:hover {
	font-size: 20px;
	transition-timing-function: ease; 
} */

.headnavbarButton{
	background-color: grey;
}


h4{
	text-align: right;
    margin-right: 15px;	
}


.head2linktext{
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: #4B176A;
}


.innerColor{
	color: #4B176A;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 21px;
}

.logoutbtn{
	width: 130px;
    height: 41.06px;
    background: #FFFFFF;
    border: 2px solid #4B176A;
    box-sizing: border-box;
    box-shadow: 0px 4px 35px -7px rgb(0 0 0 / 15%);
    border-radius: 27px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 16px;
    color: #4B176A;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-bottom: 6px;
    margin-left: 50px;
}

.logoutbtn:hover .innerColor{
	color: #FFFFFF;
	font-size: 19px;
	font-weight: 400;
}

.logoutbtn:hover{
	background-color: #4B176A;
}


.fakeBtn{
	height: 42px;
    width: 140px;
	border: 2px solid #4B176A;
    box-sizing: border-box;
    box-shadow: 0px 4px 35px -7px rgb(0 0 0 / 15%);
    border-radius: 27px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 16px;
    color: #4B176A;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 7px;
    margin-left: 50px;
}


.fakeBtn a{
	color: #4B176A;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #4B176A;
}

.fakeBtn span{
	color: #4B176A;
}

.fakeBtn:hover a{
	color: #FFFFFF;
	font-weight: 400;
}

.fakeBtn:hover{
	background-color: #4B176A;
}