.maindiv{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 5px;
    margin: 30px 3px;
}
.profileHeader{
    font-family: "Roboto";
    color: #4B176A;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 76px;
    text-align: center;
}


.profileImage {
    max-width: 400px;
    display: block;
    border-radius: 50%;
    height: 400px;
}

.profileh3{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 188.4%;
    /* identical to box height, or 47px */
    letter-spacing: 0.05em;
    color: #4B176A;
    margin-right: 15px;
}

.profileText{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #4B176A;
}

.profileLabel{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 188.4%;
    /* identical to box height, or 34px */
    letter-spacing: 0.07em;
    color: #4B176A;
    padding-top: 8px;
}

#profileIcon{
    background-image:url(./../../assets/profilePen.png); 
    background-repeat: no-repeat; 
    background-position: 95% 16px;
}

#dropdownProfile{
    background-image:url(./../../assets/dropdownProfile.png); 
    background-repeat: no-repeat; 
    background-position: 95% 16px;
}

.inputImage{
    background-image: url(./../../assets/headIcon.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}