.rowContent{
    display: table-row;
}

/* #dollarIcon{
    background-image:url(./../../../assets/dollarinput.png); 
    background-repeat: no-repeat; 
    background-position: 450px 9px;
}

#inputIcon{
    background-image:url(./../../../assets/inputlist.png); 
    background-repeat: no-repeat; 
    background-position: 450px 19px;
} */