* {
    box-sizing: border-box;
  }
  
  // html, body, [data-react-app="root"] {
  //   background-color: #eee;
  //   font-family: 'Open Sans', sans-serif;
  //     width: 100%;
  //     height: 100vh;
  // }
  
  .app-wrapper {
    display: flex;  
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-around;
    height: 68vh;
    padding: 2rem;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 35px;
    box-shadow: 1px 1px 10px 1px #ddd;
    margin-bottom: 1rem;
    height: 440px;
    max-width: 22%;
    // padding: 1rem 0;
    position: relative;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
   box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    
    .most-popular {
      font-size: 15px;
      font-weight: 700;
      background-color: #4B176A;
      color: #fff;
      padding: .25em 1rem;
      border-radius: 15px;
      text-transform: uppercase;
    }
      
    &.free,
    &.basic,
    &.medium {
     background-color: #4B176A;
     margin: 0px 20px;
    }
    
    // &.basic {
    //  border-top: 6px solid #3498db; 
    // }
    
    // &.medium {
    //  border-top: 6px solid #9b59b6; 
    // }
    
    // &.pro {
    //  border-top: 6px solid #f1c40f; 
    // }
  }
  
  .card {
    &-header,
    &-billing,
    &-features,
    &-action {
      padding: 7px;
    }
    
    &-header {
      // border-radius: 20px;
      // background-color: #4B176A;
      h2 { 
        font-size: 22px;
        margin-top: 0px;
        color: #ecf0f1;
      }
    }
    
    &-billing {
      background-color: #fff;
      
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 10px;
        text-align: center;
        letter-spacing: 0.04em;
        background-color: #fff;
      }
      
      .price {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.6);
        background-color: #fff;
      }
    }
    
    &-features {
      // padding-top: 5px;
      height: 190px;
      background-color: #fff;
      // text-align: center;

      ul{
        padding: 0px 0px 0px 0px;
        text-align: center;
      }
      
      li {
        background-color: black;
        list-style-type: disc;
        list-style-position: outside;
        // padding-bottom: .25rem;
        background-color: #fff;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        // line-height: 17px;
        margin: 0px 20px;
        line-height: 25px;
        text-align: left;
        letter-spacing: 0.03rem;
        color: rgba(0, 0, 0, 0.6);
        // margin: 3px;
      }
}
    
    &-action {
      background-color: #fff;
      padding: 8px;
      padding-bottom: 10px;
      > button {
        border: 1px solid #4B176A;
        ;
        background-color: transparent;
        color:#4B176A;
        position: inherit;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        padding: .5rem 0;
        width: 60%;
        transition: .3s ease all;
        border-radius: 0.5rem;
      }
      
      > button:hover {
        transition: .3s ease all;
        background-color:  #4B176A;
        color: #fff;
        border: 3px solid #4B176A; 
        border-radius: 0.5rem;
      }
    }
  }

  
.rowOne{
  width: 100%;
  height: 200px;
  padding: 25px 0px;
}

.rowOne h2{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 60px;
  color: #4B176A;
  text-align: center;
}

.rowOne p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140.69%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #414441;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {
  .container{
    margin-bottom: 85px;
  }
  .app-wrapper{
    margin-bottom: 40px;
    overflow:auto;
  }
  .card{
    max-width: 50%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .container{
    margin-bottom: 70px;
  }

  // .card{
  //   margin: 10px 0px;
  // }

  .app-wrapper{
    margin-bottom: 40px;
    overflow: auto;
    // margin-bottom: 70px;
  }

  .rowOne{
    margin-bottom: 100px;
  }

  .card{
    max-width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  // .container{
  //   margin-bottom: 45px;
  // }
  // .card{
  //   margin: 10px 0px;
  // }
  .displaycard{
    display: contents;
  }

  .app-wrapper{
    margin-bottom: 70px;
    overflow: auto;
  }
  .rowOne{
    width: 100%;
    height: 90px;
    padding: 0px 0px;
    margin-bottom: 140px;
  }
  .card{
    max-width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    margin-bottom: 25px;
  }
  .rowOne{
    width: 100%;
    height: 90px;
    padding: 0px 0px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    margin-bottom: 5px;
  }
  .rowOne{
    width: 100%;
    height: 90px;
    padding: -10px 0px;
  }
}


.card-header{
  border-radius: calc(.75rem - 1px) calc(.75rem - 1px) 0 0 !important;
}


input[name=monthlyPrice]:before {
  /* font-family: "FontAwesome"; */
  // content: "" ;
  background-color: #4B176A !important;
  font-size: 13px;
  /* border-radius:4px; */
  color: transparent !important;
  background: #F3E6F3;
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #F3E6F3;
  /* margin-right: 7px; */
 
}

input[type=checkbox]:checked:before {
  background: #4B176A;
  color: rgba(255,255,255, 0.85) !important;
  /* border-radius: 3px; */
}