.property-layout-main{
    background-color:aqua;
    display: flex;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    background: #f0f2f5;
}

.property-layout-second{
    /* background-color: aqua; */
    background-color: #E5E5E5;
    padding: 7px 50px !important;
    height: 100vh;
}

.property-layout-sider{
    flex-direction: row;
    /* background-color: #ffff; */
    background-color: #ffffff;
    padding: 20px 30px 20px 30px !important;
    /* margin-bottom: 50px; */
    height: 99vh;
}