@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

/* body{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  font-family: "work sans";
} */

.home{
  background:url("./../../assets/background-2.jpeg");
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  /* background-color: yellow; */
}


.newlogin{
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  box-shadow: 0px 4px 35px -7px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 10px 0px;
}

html{
  font-size: 100%;
}

#loginform{
  margin-top: 150px;
  max-width: 1000px;
  min-width: 300px;
  max-height: 800px;
  width: 50%;
  height: 90vh;
  margin: 150px auto;
  background-color: #FFFFFF;
  border-radius: 15px;
}

#loginform img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

#headerTitle p{
  color: #4B176A;
  margin-left: 30px;
  /* margin-top: 50px; */
  /* margin-bottom: -40px; */
  font-size: 18px;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
  border-radius: 27px;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
  color: #5b5b5b;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px #4B176A;
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border: 2px solid #4B176A;
  border-radius: 25px;
  width: 50%;
  height: 55px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
  font-size: 1.3rem;
  color: #4B176A;
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  background: white;
  /* background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
  /* border: 0px; */
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  margin-bottom: -20px;
}

.row button:hover{
  opacity: 0.8;
  background-color: #4B176A;
  color: #FFFFFF;
}

#button{
  padding-bottom: 1.5rem;
}

#facebookIcon{
  background-image:      url("https://image.flaticon.com/icons/svg/145/145802.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#twitterIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145812.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#googleIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145804.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}




.loginInput{
  position: relative;
  padding: 1.5rem;
  width: 449px;
  height: 65px;
  margin-top: 110px;
  background: rgba(128, 0, 128, 0.1);
  border-radius: 27px;
  margin-left: 40px;
  /* color: red; */
}

#userIcon{
  background-image:url(./../../../src/assets/user.png); 
  background-repeat: no-repeat; 
  background-position: 12px 2px;
}

#passIcon{
  background-image:url(./../../../src/assets/lock.png); 
  background-repeat: no-repeat; 
  background-position: 12px 4px;
}

@media only screen and (max-width: 600px) {
  #loginform{
    margin-top: 150px;
    max-width: 1000px;
    min-width: 300px;
    max-height: 824px;
    width: 50%;
    height: 91%;
    margin: 150px auto;
    background-color: #FFFFFF;
    border-radius: 15px;
  }
}



.newheading{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 130px;
  line-height: 152px;
  text-align: center;
  color: #4B176A;
  margin-bottom: 0px;
}

.newtext{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  color: #4B176A;
}

.newinput{
  background: rgba(128, 0, 128, 0.1);
  border-radius: 23px;
  max-width: 95%;
  height: 55px;
  margin: 3px 5px 3px 5px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;  
  color: #4B176A;
}

.newbutton{
  width: 360px;
  height: 65.06px;
  background: #4B176A;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  box-shadow: 0px 4px 35px -7px rgba(0, 0, 0, 0.15);
  border-radius: 27px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}




@media only screen and (max-width:600px){
  .newinput{
    height: 45px;
  }
  .newbutton{
    width: 260px;
    height: 50.06px;
  }
}