.reportview{
    height: 120vh;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.checkBox{
    width: 25px;
    height: 25px;
    background: #E0DDE0;
    border-radius: 3px;
    margin-right: 15px;
}

.checkBox label {
    display: inline;
  }

  @media only screen and (max-width: 600px) {
    .reportview{
        height: 110vh;
        background-color: rgb(255, 255, 255);
        padding: 5px;
    }
}

@media only screen and (max-width: 375px) {
    .reportview{
        height: 130vh;
        background-color: rgb(255, 255, 255);
        padding: 5px;
    }
}

.heading{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    margin-top: 10px;
    color: #4B176A;
    margin-left: 10px;
}

.buttonclass{
    background: #FFFFFF;
    border: 1px solid #4B176A;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140.69%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #4B176A;
}

